/* Шапка */

.header {
  display: grid;
  grid-template-columns: auto min-content 1fr;
  align-items: center;
  gap: 40px;
  margin: 89px 50px 97px;
}

.header__links-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  list-style-type: circle;
}

.header__links-list-item {
  margin-left: 17px;
  padding-left: 5px;
  font-size: 18px;
  line-height: 18px;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__links-list-item:first-child {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.header__link:hover,
.header__link:focus {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
}

.address {
  justify-self: end;
  min-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address__link {
  text-underline-offset: 4px;
}

.address__link:hover,
.address__link:focus {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

/* Блок cover */

.cover {
  position: relative;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 95px;
  padding: 155px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 136px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
}

.cover__description-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #FFFFFF;
  padding: 10px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover,
.bet-button:focus {
  outline: none;
  color: #000000;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease, color 0.3s ease;
}
