:root {
  --main-white: #fff;
  --main-black: #000;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: auto min-content 1fr;
  align-items: center;
  gap: 40px;
  margin: 89px 50px 97px;
}

.header__links-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  list-style-type: circle;
}

.header__links-list-item {
  margin-left: 17px;
  padding-left: 5px;
}

.header__links-list-item:first-child {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.header__link,
.footer__link {
  font-size: 18px;
  line-height: 18px;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__link.header__link_active,
.footer__link.footer__link_active {
  text-decoration: none;
  cursor: unset;
}

.header__link:hover,
.header__link:focus,
.footer__link:hover,
.footer__link:focus {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.header__link.header__link_active:hover,
.header__link.header__link_active:focus,
.footer__link.footer__link_active:hover,
.footer__link.footer__link_active:focus {
  opacity: 1;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
}

.address {
  min-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header .address {
  justify-self: end;
}

.address__link {
  text-underline-offset: 4px;
}

.address__link:hover,
.address__link:focus {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

/* Блок cover */

.cover {
  position: relative;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 95px;
  padding: 155px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: var(--main-black);
}

.cover__title {
  position: relative;
  z-index: 1;
  color:  var(--main-white);
  font-weight: 700;
  font-size: 100px;
  line-height: 136px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
}

.cover__description-text {
  color:  var(--main-white);
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid  var(--main-white);
  padding: 10px;
  color:  var(--main-white);
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover,
.bet-button:focus {
  outline: none;
  color: var(--main-black);
  background-color:  var(--main-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Блок lots */

.lots {
  padding: 184px 24px 0;
}

.lots__heading {
  margin: 0 0 30px 40px;
  color: var(--main-black);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 32px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  /* 100% - (gap * 2) / количество карточек в ряду */
  width: calc((100% - (25px * 2))/ 3);
}

.card {
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card-link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  height: 100%;
  padding: 48px 40px;
}

.card-link:hover,
.card-link:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.card__title {
  color:  var(--main-white);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__text {
  justify-self: end;
  color:  var(--main-white);
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 39px;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.lots__look-more-link:hover,
.lots__look-more-link:focus {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

/* Блок about */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 155px 25px 0 71px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: var(--main-black);
}

.about__column:last-child {
  display: grid;
  grid-template-rows: 248px 1fr;
}

.about__title {
  align-self: center;
  color: var(--main-black);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  margin: 0 0 25px;
  color: var(--main-black);
  font-size: 20px;
  line-height: 24px;
}

.about__text:last-child {
  margin: 0;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  gap: 40px;
  padding: 180px 50px 82px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__links-list-item {
  margin: 0 0 2px;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item:hover,
.footer__social-list-item:focus,
.footer__social-link:focus-visible {
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
